autoreconf.after
autoreconf.before
control
files
*.debhelper
*.debhelper.log
*.substvars
tmp
boinc
boinc-amd-opencl
boinc-app-examples
boinc-cgi-stripchart
boinc-client
boinc-dbg
boinc-dev
boinc-manager
boinc-nvidia-cuda
boinc-server
boinc-server-dbg
boinc-server-maker
libboinc-app-dev
libboinc-app7
libboinc7
